<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fanqie.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,154},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>fanqie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{126,124}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{126,124}}</string>
                <key>sourceSize</key>
                <string>{186,190}</string>
            </dict>
            <key>fanqie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{152,160}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{152,160}}</string>
                <key>sourceSize</key>
                <string>{186,190}</string>
            </dict>
            <key>fanqie_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{152,172}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{152,172}}</string>
                <key>sourceSize</key>
                <string>{186,190}</string>
            </dict>
            <key>fanqie_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,190}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{152,190}}</string>
                <key>sourceSize</key>
                <string>{186,190}</string>
            </dict>
            <key>fanqie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,156},{152,148}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{152,148}}</string>
                <key>sourceSize</key>
                <string>{186,190}</string>
            </dict>
            <key>fanqie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{168,148}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{168,148}}</string>
                <key>sourceSize</key>
                <string>{186,190}</string>
            </dict>
            <key>fanqie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{182,148}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{182,148}}</string>
                <key>sourceSize</key>
                <string>{186,190}</string>
            </dict>
            <key>fanqie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,156},{152,148}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{152,148}}</string>
                <key>sourceSize</key>
                <string>{186,190}</string>
            </dict>
            <key>fanqie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,156},{152,148}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{152,148}}</string>
                <key>sourceSize</key>
                <string>{186,190}</string>
            </dict>
            <key>fanqie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,156},{152,148}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{152,148}}</string>
                <key>sourceSize</key>
                <string>{186,190}</string>
            </dict>
            <key>fanqie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,152},{152,148}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{152,148}}</string>
                <key>sourceSize</key>
                <string>{186,190}</string>
            </dict>
            <key>fanqie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{152,150}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{152,150}}</string>
                <key>sourceSize</key>
                <string>{186,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fanqie_effect.png</string>
            <key>size</key>
            <string>{1021,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e0ea2734103f1a6c10ef36c5d4920d5$</string>
            <key>textureFileName</key>
            <string>fanqie_effect.png</string>
        </dict>
    </dict>
</plist>
